@(brokers: Seq[(Zookeeper, Map[String, Any])] = Seq())

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>Zookeeper</th>
            <th>Host</th>
            <th>Port</th>
        </thead>
        <tbody>
            @for(broker <- brokers) {
                <tr>
                    <td>@broker._1.name</td>
                    <td>@broker._2.get("host").get</td>
                    <td>@broker._2.get("port").get.asInstanceOf[Double].toInt</td>
                </tr>
            }
        </tbody>
    </table>
</div>