@(consumers: Map[String, Seq[(String, String)]] = Map())

<div class="table-responsive">
    <table class="table table-hover">
        <thead>

            <th>Consumer</th>
            <th colspan=3>Partition Offsets</th>
            <tr>
                <th colspan=1></th>
                @for(partitionAndOffset <- consumers.head._2) {
                    <th>@partitionAndOffset._1</th>
                }
                </tr>
        </thead>
        <tbody>
        @for(consumer <- consumers) {
            <tr>
                <td>@consumer._1</td>
                @for(partitionAndOffset <- consumer._2) {
                    <td>@partitionAndOffset._2</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>