@(zookeeperForm: Form[(String, Int)])

<tabset ng-init="getServers('ALL')">
    <tab heading="All" data-ng-click="getServers('ALL')">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <th>Address</th>
                    <th>Port</th>
                    <th>Status</th>
                    <th>Group</th>
                </thead>
                <tbody>
                    <tr data-ng-repeat="server in servers">
                        <td>{{server.address}}</td>
                        <td>{{server.port}}</td>
                        <td>{{server.status}}</td>
                        <td>{{server.group}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </tab>
    <tab heading="Development"></tab>
    <tab heading="Production"></tab>
    <tab heading="Staging"></tab>
    <tab heading="Test"></tab>
    <tab heading="New Server">
        <form role="form" data-ng-submit="createServer(zookeeper)">
            <div class="form-group">
                @helper.inputText(zookeeperForm("address"), '_label -> "Address", 'required -> "true",
                    Symbol("data-ng-model") -> "zookeeper.address")
                @helper.inputText(zookeeperForm("port"), '_label -> "Port", '_showConstraints -> false,
                    Symbol("data-ng-model") -> "zookeeper.port", 'type -> "number", 'required -> "true")
            </div>
            <button class="btn btn-default">Connect</button>
        </form>
    </tab>
</tabset>


