<ul class="nav nav-tabs">
    <li class="active"><a data-target="#consumer-groups" data-toggle="tab">Consumer Groups</a></li>
    <li><a data-target="#topic-feed" data-toggle="tab">Topic Feed</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="consumer-groups">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <th></th>
                <th>Consumer Group</th>
                <th>Partition</th>
                <th>Offset</th>
                <th>Lag</th>
                <th>Owner</th>
                </thead>
                <tbody data-ng-repeat="consumerGroup in topic">
                <tr>
                    <td>
                        <i class="fa fa-minus-square fa-lg" data-ng-if="consumerGroup.expanded" data-ng-click="consumerGroup.expanded = false"/>
                        <i class="fa fa-plus-square fa-lg" data-ng-if="!consumerGroup.expanded" data-ng-click="consumerGroup.expanded = true"/>
                    </td>
                    <td>{{consumerGroup.consumerGroup}}</td>
                    <td></td>
                    <td>{{consumerGroup.offset}}</td>
                    <td>{{consumerGroup.lag}}</td>
                    <td></td>
                </tr>
                <tr data-ng-if="consumerGroup.expanded" class="row-animation"
                    data-ng-repeat="partition in consumerGroup.partitions track by $index">
                    <td></td>
                    <td></td>
                    <td>{{$index}}</td>
                    <td>{{partition.offset}}</td>
                    <td>{{partition.lag}}</td>
                    <td>{{partition.owner}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="topic-feed">
        <div id="messages"></div>
    </div>
</div>